@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html,
body {
  @apply m-0 h-full transition-all duration-300 ease-in-out;
}

/*noinspection ALL*/
#theme-circle:after {
  content: " ";
  position: absolute;
  border-radius: 50%;
  width: var(--after-width);
  height: var(--after-height);
  box-shadow: 0 0 0 10000px var(--after-color);
}

@theme {
  --color-gradient-in: #27283b;
  --color-gradient-out: #0c58a6; /*  2e2f4d */
  --color-background-primary: #f4f4f4;
  --color-background-secondary: #ffffff;
  --color-background-tertiary: #f7f7f7;
  /* --color-text-primary: #161616; */
  /* --color-text-secondary: #494949;
  --color-text-tertiary: #a1a1a1;
  --color-text-button: #ffffff; */
  --color-text-primary: #f5f5f5;
  --color-text-secondary: #161616;
  --color-text-tertiary: #656565;
  --color-text-alternative: #8df0cc;
  --color-main-primary: #253c78;
  --color-main-secondary: #0c58a6;
  --color-main-tertiary: #598fd9;
  --color-element-primary: #c6c7c1;
  --color-element-secondary: #5f5f5f;
  --color-element-tertiary: #535353;
  --color-notify-danger-primary: #842629;
  --color-notify-danger-secondary: #691f21;
  --color-notify-danger-tertiary: #fbbaba;
  --color-notify-successful-primary: #2eba0e;
  --color-notify-successful-secondary: #278613;
  --color-notify-successful-tertiary: #171a09;
  --color-notify-warning-primary: #e4a21e;
  --color-notify-warning-secondary: #b48017;
}

.dark {
  --color-gradient-in: #27283b;
  --color-gradient-out: #1e1e1e; /*  2e2f4d */
  --color-background-primary: #1e1e1e;
  --color-background-secondary: #242424;
  --color-background-tertiary: #343434;
  --color-text-primary: #f5f5f5;
  --color-text-secondary: #d3d2d2;
  --color-text-tertiary: #656565;
  --color-text-button: #ffffff;
  --color-main-primary: #0c58a6;
  --color-main-secondary: #598fd9;
  --color-main-tertiary: #7fbcd9;
  --color-element-primary: #4c4c4c;
  --color-element-secondary: #989898;
  --color-element-tertiary: #d2d2d2;
  --color-notify-danger-primary: #e01313;
  --color-notify-danger-secondary: #971c1c;
  --color-notify-danger-tertiary: #fbbaba;
  --color-notify-successful-primary: #3ed913;
  --color-notify-successful-secondary: #2fa811;
  --color-notify-successful-tertiary: #296c18;
  --color-notify-warning-primary: #e8d420;
  --color-notify-warning-secondary: #e8d420;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(
    270deg,
    var(--color-gradient-in),
    var(--color-gradient-out)
  );
  background-size: 400% 400%;
  animation: gradient-animation 7s ease infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg); /* Поворот на 5 градусов */
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-rotate {
  animation: rotate 5s ease-in-out infinite; /* Анимация длится 5 секунд, плавно и бесконечно */
}

.shadow-white {
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
}

@layer components {
  .typo-large-title {
    @apply text-[32px] font-bold leading-[32px] lg:text-[48px] lg:leading-[48px];
  }

  .typo-title {
    @apply text-[24px] font-bold leading-[26px] lg:text-[30px] lg:leading-[30px];
  }

  .typo-small-title {
    @apply text-[16px] font-bold leading-[16px] lg:text-[20px] lg:leading-[20px];
  }

  .typo-sub-title {
    @apply text-[14px] font-bold leading-[14px] lg:text-[16px] lg:leading-[16px];
  }

  .typo-text {
    @apply text-[16px] font-normal leading-[22px] lg:text-[16px] lg:leading-[22px];
  }

  .typo-small-text {
    @apply text-[12px] font-normal leading-[16px] lg:text-[12px] lg:leading-[16px];
  }

  .typo-button-lg {
    @apply text-[16px] font-bold leading-[20px] lg:text-[16px] lg:leading-[20px];
  }

  .typo-button-md {
    @apply text-[14px] font-bold leading-[18px] lg:text-[14px] lg:leading-[18px];
  }

  .typo-button-sm {
    @apply text-[12px] font-bold leading-[16px];
  }

  .card {
    @apply rounded-xl bg-background-secondary shadow-md flex flex-col gap-2.5 p-3 lg:gap-5 lg:p-6;
  }
}

@layer base {
  body {
    @apply bg-background-primary text-text-primary text-[16px]  font-normal leading-[22px] lg:text-[16px] lg:leading-[22px];
  }

  h1 {
    @apply text-[32px] font-bold leading-[32px] lg:text-[48px] lg:leading-[48px];
  }

  h2 {
    @apply text-[22px] font-bold leading-[24px] lg:text-[28px] lg:leading-[30px];
  }

  h3 {
    @apply text-[16px] font-bold leading-[16px] lg:text-[20px] lg:leading-[20px];
  }

  p {
    @apply text-[14px] font-normal leading-[16px] lg:text-[16px] lg:leading-[22px];
  }

  label {
    @apply text-[14px] font-normal leading-[20px] lg:text-[14px] lg:leading-[20px];
  }
}
